{:kotoba.app/id "cloud.itonami.isic-8220", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibagt2hmzzw454zjxdniay5oxvdmldrycxboag6rryabou6jjq5ce", :kotoba.app/embed-url "ipfs://bafkreibagt2hmzzw454zjxdniay5oxvdmldrycxboag6rryabou6jjq5ce", :published {:archive "https://kotobase.net/ipfs/bafkreibagt2hmzzw454zjxdniay5oxvdmldrycxboag6rryabou6jjq5ce", :size 72934, :put-status 201, :get-status 200, :at "2026-08-15T13:33:51.136Z"}}
